@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "首页";
}

<form>
    <div class="container row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="p-0 my-3 border rounded">
                    <div class="card">
                        <h3 class="card-title text-white-50 text-center py-2">@item.Name</h3>
                        <img src="@item.ImageUrl" width="400px" height="230px"  class="card-img-top" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px;">@item.Price.ToString("c")</span>
                                <span class="badge bg-warning text-white p-2">@item.CategoryName</span>
                            </div>
                            <p class="card-text" style="height:200px;">@Html.Raw(item.Description)</p>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-success form-control" asp-action="Detail" asp-route-id="@item.ProductId">详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
