@using Takeaway.Web.Models.Cart;
@model CardHeaderDto

@if (Model.CardDetails != null && Model.CardDetails.Count > 0)
{
    <form method="post">
        <input type="hidden" asp-for="@Model.UserId"/>
        <br/>
        <div class="">
            <div class="card border mt-4 container">
                <div class="card-header bg-dark text-light ml-0 row">
                    <div class="col-6">
                        <h3 class="text-success"><i class="bi bi-cart"></i>&nbsp; 购物车</h3>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">返回主页</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-none d-lg-block">
                        <div class="row text-info">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">产品详情</div>
                            <div class="col-lg-2">价格</div>
                            <div class="col-lg-2">数量</div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                    <hr/>
                    @foreach (var item in Model.CardDetails)
                    {
                            <div class="row h-100">
                                <div class="col-4 col-md-2 text-center py-2">
                                    <img src="@item.ProductDto.ImageUrl" width="100%" class="rounded"/>
                                </div>
                                <div class="col-8 col-md-5">
                                    <h5>@item.ProductDto.Name</h5>
                                    <div style="font-size:11px;">@Html.Raw(item.ProductDto.Description)</div>
                                </div>
                                <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                    <span style="font-size:17px;">@string.Format("{0:c}", (item.Quantity * item.ProductDto.Price))</span>
                                </div>
                                <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                    <span style="font-size:17px;">@item.Quantity</span>
                                </div>
                                <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                    <a class="btn btn-sm btn-danger" asp-action="Remove" asp-route-productId="@item.ProductId">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                    }
                    <hr/>
                    <div class="row">
                        <div class="col-6">
                            @if (string.IsNullOrWhiteSpace(Model.CouponCode))
                            {
                                <span>折扣代码:</span>
                                <input asp-for="@Model.CouponCode"/>
                                <button type="submit" class="btn btn-sm btn-success" asp-action="ApplyCoupon" asp-controller="Cart">申请</button>
                            }
                            else
                            {
                                <span>折扣代码:</span>
                                <input asp-for="@Model.CouponCode" disabled/>
                                <button type="submit" class="btn btn-sm btn-success" asp-action="RemoveCoupon">移除</button>
                            }
                        </div>
                        <div class="col-6 text-end">
                            <span class="text-danger" style="font-size:21px;">总价:@string.Format("{0:c}", Model.CartTotal)</span>
                            @if (Model.DisCount > 0)
                            {
                                <span class="text-success">折扣: @string.Format("{0:c}", Model.DisCount)</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-outline-danger form-control"></button>
                    </div>
                    <div class="col-6 col-md-3 offset-md-6">
                        <button type="submit" class="btn btn-success form-control"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p>购物车为空，请先添加商品~~~</p>
}



